.border{
    border: 1px solid red;
    margin: 3px;
}
.display-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-gray{
    background-color: #1b1b1b;
    color: white;
}

.invert{
    filter: invert(1);
}

.rounder{
    border-radius: 7px;
}
.m1{
    margin: 10px;
}
.p1{
    padding: 10px;
}